<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>

    {{userMetadata.balance}}

    <form action="/addfunds/{{userMetadata.id}}" method="POST">  
        <label>Value</label>
        <input type="number" name="value"></input>
        <button class="button">Submit</button>
    </form>
    {{#each}}
    {{friends.name}}
    {{/each}}
    
</body>
</html>