
<main>
    <div class="contents">
        <div class="topnav">
        <a class="topnav-button-active" href="/home">Add Funds</a>
        <a class="topnav-button" href="/form">Form</a>
        <a class="topnav-button" href="/about">About</a>
      </div>
      {{user.name}}
      {{user.balance}}
    </div>
</main>