
<main>
    <div class="contents">
        <div class="topnav">
        <a class="topnav-button-active" href="/home">Restaurants</a>
        <a class="topnav-button" href="/form">Form</a>
        <a class="topnav-button" href="/about">About</a>
      </div>
            {{#each restaurants}}
            <a href="/restaurants/{{this.id}}">
                <div class="card" style="background-image: url({{this.image}})">
                    <header class="card-header">{{this.name}}</header>
                    <div class="card-details-wrapper">
                    {{#each this.menus}}
                    <menus class="card-details">{{this.title}}</menus>
                    {{/each}}
                    </div>
                </div>
            </a>
            {{/each}}
    </div>
</main>